<!DOCTYPE html>
<html lang="end">
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume Matcher</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>title</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <div class="card-header"><h2>Job Description and Resume matching</h2></div>
                <div class="card-body">
                    <form action="/mathcher" method="post"  enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="job-description">Job Description</label>
                            <textarea class="form-control" id="job-description" name="job-description" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="Resume">Upload resume</label>
                            <p>Please upload atleast 5 resuem____________________________</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       <h1>This is my Job description matching system</h1> 
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
       <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html> 